<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Arcinect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <Arcinect.Properties.Settings>
      <setting name="VoxelsPerMeter" serializeAs="String">
        <value>256</value>
      </setting>
      <setting name="VoxelsX" serializeAs="String">
        <value>512</value>
      </setting>
      <setting name="VoxelsY" serializeAs="String">
        <value>512</value>
      </setting>
      <setting name="VoxelsZ" serializeAs="String">
        <value>512</value>
      </setting>
      <setting name="MinDepthClip" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="MaxDepthClip" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="DeltaFrameCalculationInterval" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DownsampleFactor" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SmoothingKernelWidth" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SmoothingDistanceThreshold" serializeAs="String">
        <value>0.04</value>
      </setting>
      <setting name="MaxTranslationDeltaAlignPointClouds" serializeAs="String">
        <value>0.3</value>
      </setting>
      <setting name="MaxRotationDeltaAlignPointClouds" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="CameraPoseFinderDistanceThresholdReject" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MaxAlignPointCloudsEnergyForSuccess" serializeAs="String">
        <value>0.006</value>
      </setting>
      <setting name="MaxCameraPoseFinderPoseTests" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MinAlignPointCloudsEnergyForSuccess" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MinSuccessfulTrackingFramesForCameraPoseFinderAfterFailure"
        serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="IntegrationWeight" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="CameraPoseFinderProcessFrameCalculationInterval"
        serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MinSuccessfulTrackingFramesForCameraPoseFinder"
        serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="CameraPoseFinderDistanceThresholdAccept" serializeAs="String">
        <value>0.1</value>
      </setting>
      <setting name="TranslateResetPoseByMinDepthThreshold" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DefaultSystemDPI" serializeAs="String">
        <value>96</value>
      </setting>
    </Arcinect.Properties.Settings>
  </applicationSettings>
</configuration>